POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Generate a rails master key with
# rails credentials:edit
# The key will be located in ./config/master.key
RAILS_MASTER_KEY=...

# Must be absolute paths
CLIENT_PATH=/path/to/waldo-frontend/
API_PATH=/path/to/waldo-api/
