POSTGRES_HOST=postgres
POSTGRES_USER=postgres

# Generate a rails master key with
# rails credentials:edit
# The key will be located in ./config/master.key
RAILS_MASTER_KEY=<key>

S3_REGION=<region>
S3_BUCKET=<bucket-name>

# Must be absolute paths
CLIENT_PATH=/path/to/waldo-frontend/
API_PATH=/path/to/waldo-api/

# Email for your letsencrypt cert
EMAIL=email@example.com
